ul{
    list-style-type: none;
    height: 100%;
    width: 100%;
    margin: 20px;
    padding: 20px;
    overflow: hidden;
    background-color: #faf8f2;
    color: #1A1A1A;
    align-items: center;
}
li {
    float: left;
    list-style: none;
    font-size: 24px;

}
a {
    text-decoration: none;
    color: #1A1A1A;
    padding: 20px;
    margin-right: 100px;
}
h1{
    color: rgba(234, 98, 24, 0.768);
}

body{
    background-color: #F5F1E8;
    color: #7A1F1F;
}
.class{ 
    background-color: #F5F1E8;
    color: #7A1F1F;
    /* css test */
}