ul{
    list-style-type: none;
    margin: 20px;
    padding: 20px;
    overflow: hidden;
    background-color: #C9C6BC;
    color: #1A1A1A;
}
h1{
    color: rgba(234, 98, 24, 0.768);
}

body{
    background-color: #F5F1E8;
    color: #7A1F1F;
}
.class{ 
    background-color: #F5F1E8;
    color: #7A1F1F;
    /* css test */
}